<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errores/error404.jsp</location>
    </error-page>
    <filter>
        <filter-name>FiltroUsuarios</filter-name>
        <filter-class>valeo.ventamal.filtros.FiltroUsuarios</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroArticulos</filter-name>
        <filter-class>valeo.ventamal.filtros.FiltroArticulos</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroUsuarios</filter-name>
        <servlet-name>SevUsuarios</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroArticulos</filter-name>
        <servlet-name>SevArticulos</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>SevInicio</servlet-name>
        <servlet-class>valeo.ventamal.servlets.SevInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SevUsuarios</servlet-name>
        <servlet-class>valeo.ventamal.servlets.SevUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SevArticulos</servlet-name>
        <servlet-class>valeo.ventamal.servlets.SevArticulos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SevUsuarios</servlet-name>
        <url-pattern>/iniciar-sesion</url-pattern>
        <url-pattern>/comprobar-email</url-pattern>
        <url-pattern>/alta</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/comprobar-tlf</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/registrar</url-pattern>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SevInicio</servlet-name>
        <url-pattern> </url-pattern>
        <url-pattern>/inicio</url-pattern>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SevArticulos</servlet-name>
        <url-pattern>/articulos</url-pattern>
        <url-pattern>/articulo</url-pattern>
        <url-pattern>/publicar</url-pattern>
        <url-pattern>/interes</url-pattern>
        <url-pattern>/agregar-articulo</url-pattern>
        <url-pattern>/filtro</url-pattern>
        <url-pattern>/comentar</url-pattern>
        <url-pattern>/articulos-interes</url-pattern>
        <url-pattern>/editar</url-pattern>
        <url-pattern>/editar-articulo</url-pattern>
        <url-pattern>/eliminar-articulo</url-pattern>
        <url-pattern>/vender-articulo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
